# Binaries
asr.so
asr.dylib
asr.dll
benchmark
test
send_lsl
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/
asr.zip

# Matlab Coder project files
*.prj

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# OSX filesystem stuff
.DS_Store

# OSX Debug information
*.dSYM

# make artifacts
.directory
